vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-33E6NFV\\gbono
vti_modifiedby:SR|DESKTOP-33E6NFV\\gbono
vti_timelastmodified:TR|31 May 2021 10:32:59 -0000
vti_timecreated:TR|31 May 2021 10:32:59 -0000
vti_cacheddtm:TX|31 May 2021 10:32:59 -0000
vti_filesize:IR|29481
vti_cachedlinkinfo:VX|S|top_bar_button_satin.gif S|background_satin.gif S|bull2_satin.gif S|toolgrad_satin.gif S|theme.css S|dot_satin.gif S|toolgrad_satin.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/satin/top_bar_button_satin.gif FSUS|_themes/satin/background_satin.gif FSUS|_themes/satin/bull2_satin.gif FSUS|_themes/satin/toolgrad_satin.gif FSUS|_themes/satin/theme.css FSUS|_themes/satin/dot_satin.gif FSUS|_themes/satin/toolgrad_satin.gif FSUS|_themes/satin/partgrad.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|_themes/satin/theme.css
