vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-33E6NFV\\gbono
vti_modifiedby:SR|DESKTOP-33E6NFV\\gbono
vti_timelastmodified:TR|27 May 2021 09:29:19 -0000
vti_timecreated:TR|27 May 2021 09:29:19 -0000
vti_cacheddtm:TX|27 May 2021 09:29:19 -0000
vti_filesize:IR|29513
vti_cachedlinkinfo:VX|S|top_bar_button_bluecalm.gif S|background_bluecalm.gif S|bull2_bluecalm.gif S|toolgrad_bluecalm.gif S|theme.css S|dot_bluecalm.gif S|toolgrad_bluecalm.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/bluecalm/top_bar_button_bluecalm.gif FSUS|_themes/bluecalm/background_bluecalm.gif FSUS|_themes/bluecalm/bull2_bluecalm.gif FSUS|_themes/bluecalm/toolgrad_bluecalm.gif FSUS|_themes/bluecalm/theme.css FSUS|_themes/bluecalm/dot_bluecalm.gif FSUS|_themes/bluecalm/toolgrad_bluecalm.gif FSUS|_themes/bluecalm/partgrad.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|_themes/bluecalm/theme.css
